.currency-container {
  display: flex;
  justify-content: center;
}

.currency-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.currency {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.currency h1 {
  font-size: 16px;
  width: 150px;
}

.currency img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.currency-symbol {
  text-transform: uppercase;
}

.currency-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.currency-price {
  width: 110px;
}

.currency-volume {
  width: 155px;
}

.currency-marketcap {
  width: 230px;
}

.currency-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
